<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @code.code %>
</p>

<p>
  <strong>Valid:</strong>
  <%= @code.valid %>
</p>

<p>
  <strong>Valid:</strong>
  <%= @code.valid %>
</p>

<p>
  <strong>User:</strong>
  <%= @code.user %>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
